*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
shape.php
/nbproject/private/
/imd_plot_data/*
assets/uploads/mail_uploads
commit
assets/uploads/lightning_bulletin
counter.txt
application/config/config.php
application/config/database.php
counter.txt
backend_scripts/heat_wave/log.txt
backend_scripts/heat_wave/temprain.pdf
cron/*

