.map_checkbox {
    font-family: "Helvetica Neue", "Helvetica", Arial;
    position: absolute;
    line-height: 1em;
    z-index: 99999;
    top: 170px !important;
    right: 25px !important;
    font-size: 12px;
    background-color: #C71F30;
    color: #fff;
    display: block !important;
    width: 250px;
    min-width: 100px;
    border: 1px solid black;
    padding-left: 10px;
}

.map_legend {
    position: absolute;
    z-index: 99999;
    top: 260px !important;
    right: 25px !important;
    display: block !important;
    
    width: 103px;
    height:235px;
}

.c_span {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}

.m0 {
    padding-left: 70px;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
hr.style-one {
    border: 10;
    height: 1px;
    background: #333;
    margin: 10px 0 10px 0;
}
.event-td {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}
#eq-container {
    width: 100%;
}
#id_recent_eq, #right-container {
    float: left;
   
 }
#id_recent_eq {
    width: 25%;
    height:75vh;
    overflow-y: scroll;
}
#right-container {
    width: 75%;
    height:75vh;
}

.box-title-eq {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.header-eq{
    cursor: pointer;
    font-weight: bold;
   }

.content-eq {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0;
}
.color1 {
    background-color: #FFFFFF;
}

.color2 {
    background-color: #F1F1F1;
    
}

.eq-current-event {
    font-size: 1.2em;
    background-color: #6ECFF5!important;
    color: #FFF!important;
    border-radius: 5px; 
    padding: 3px;

}