shape.php
nbproject/*
/imd_plot_data/*
assets/uploads/mail_uploads
commit
assets/uploads/lightning_bulletin
counter.txt
application/config/config.php 
application/config/database.php
counter.txt
backend_scripts/heat_wave/log*
backend_scripts/heat_wave/temprain*
cron/instert.err
cron/lightning_feed.php
counter_file/*
user_data_files/*
DATA/flood/HAZARD_DATA/*
feedback_image_uploads/*
/wrf_plot_data/*
/ecmwf_plot_data/*
DATA/forecast_data/*
mahanadi_data/*
DATA/verif_data
DATA/verif_data/*
tmp/
tmp/uploads
tmp/uploads/*
tmp/advisory_img_tmp
tmp/advisory_img_tmp/*
FC_LT_NCM/*
lightning_push_notification_log/*
.htaccess
DATA/drought_overview_month/*
DATA/drought_overview_month/report/*
DATA/drought_overview_week/*
DATA/drought_overview_week/report/*
DATA/drought_overview_season/*
DATA/drought_overview_season/report/*
DATA/value_addition_bulletin/*
DATA/earthquake/*
DATA/ocean/*
DATA/
stylesheet/satark_all_js/*
stylesheet/satark_all_css/*

application/.DS_Store
application/models/.DS_Store
.DS_Store
